.total_count{
    display: flex;
    justify-content: space-between;
}
.Total{
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid lightgrey;
}

.proceed{
    align-items: center;
    margin-left: 50%;
}
.proceed button{
    align-items: center;
    margin-top: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}